*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 12px;
}

.container{
  background-color: aquamarine;
  padding-inline: 1rem;
  padding-block: 20px;
  border-radius: 12px;

}
.quote{
  margin-bottom: 20px;
}
button{
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 12px;
  float: right;
  border: none;
}